.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Times New Roman";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(253, 253, 253);
}

.button{
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(254, 254, 254);
}

.custom-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
