.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Times New Roman";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(253, 253, 253);
}

.button{
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(254, 254, 254);
}

.unique{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(255, 0, 0);
}

